* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {

}
nav {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background-color: #32609e;
    position: absolute;
    margin: auto;
}
nav ul {
    width: 85%;
    margin: auto;
}
nav li {
    float: left;
    list-style: none;
    margin: 14px 11px;
    padding: 0px 10px;
}
nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
}
nav i {
    font-size: 11px;
    margin-left: 7px;
}

/* End of the nav section */
/* Begining of the content section */

#content {
    position: absolute;
    margin-top: 75px;
}

#logo {
    margin: 0px 80px 0px 120px;
    display: flex;
}
#contact {
    margin-left: 280px;
    max-width: 800px;
}
.number {
    display: flex;
    width: 100%;
    font-size: 30px;
}
.contact i {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #4fb5e6;
    border-radius: 25px;
    margin: 0px 5px 0px 0px;
}
.mb {
    margin-top: 3px;
}
.appoinment {
    margin: 12px 0px 0px 50px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}
.appoinment i {
    font-size: 10px;
    margin-left: 10px;
}
.number p, .appoinment p {
    color: #4fb5e6;
    font-family: sans-serif;
}

#top-img {
    max-width: 85%;
    margin: 0 100px;
    display: flex;
    padding-top: 30px;
    position: absolute;
}
#whitelogo {
    background-color: blue;
    width: 480px;
}
#whitelogo img {
    margin-top: 180px;
    margin-left: 20px;
}
#whitelogo p {
    padding-bottom: 30px;
    padding-left: 25px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
}
#info {
    background-color: #4fb5e6;
    width: 480px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 68px 10px;
}
#info span {
    font-size: 28px;
    letter-spacing: 5px;
}
#info p {
    font-size: 16px;
}
.one {
    padding-top: 10px;
}
.two {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(224, 224, 200, .3);
}
#img2 img {
    width: 405px;
    height: 359px;
}

#department {
    display: flex;
    margin-top: 280px;
}
.nav {
    width: 29%;
    background-color: #276ecc;
    padding: 150px 0px 200px 100px;
}
.nav p {
    width: 60px;
    color: #fff;
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.nav li {
    list-style: none;
    padding: 8px 0px;
}
.nav a {
    text-decoration: none;
    color: #4fb5e6;
    font-size: 16px;
}
.detail {

}